In [1]:
sc

In [2]:
spark

In [3]:
sc.stop()

In [4]:
spark.stop()

In [5]:
from pyspark import SparkConf, SparkContext
# setMaster sets spark ContextManager which is loca[cpu cores]
config = SparkConf().setMaster('local[2]').setAppName("ETL Pipeline")
sc = SparkContext(conf=config)

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ETL Pipeline').getOrCreate()

In [7]:
spark

In [12]:
hremployeeDF = spark.read.format('jdbc')\
.option('url', 'jdbc:mysql://localhost:3306/hremployeedb')\
.option('dbtable', 'HR_Employee').option('user', 'root').option('password', 'hadoop@123')\
.option('driver', 'com.mysql.cj.jdbc.Driver').load()

In [13]:
hremployeeDF

DataFrame[EmployeeID: int, Department: string, JobRole: string, Attrition: string, Gender: string, Age: int, MaritalStatus: string, Education: string, EducationField: string, BusinessTravel: string, JobInvolvement: string, JobLevel: int, JobSatisfaction: string, Hourlyrate: int, Income: int, Salaryhike: int, OverTime: string, Workex: int, YearsSinceLastPromotion: int, EmpSatisfaction: string, TrainingTimesLastYear: int, WorkLifeBalance: string, Performance_Rating: string]

In [14]:
# show physical plan of execution, which is nkown as DAG
hremployeeDF.explain()

== Physical Plan ==
*(1) Scan JDBCRelation(HR_Employee) [numPartitions=1] [EmployeeID#0,Department#1,JobRole#2,Attrition#3,Gender#4,Age#5,MaritalStatus#6,Education#7,EducationField#8,BusinessTravel#9,JobInvolvement#10,JobLevel#11,JobSatisfaction#12,Hourlyrate#13,Income#14,Salaryhike#15,OverTime#16,Workex#17,YearsSinceLastPromotion#18,EmpSatisfaction#19,TrainingTimesLastYear#20,WorkLifeBalance#21,Performance_Rating#22] PushedFilters: [], ReadSchema: struct<EmployeeID:int,Department:string,JobRole:string,Attrition:string,Gender:string,Age:int,Mar...

### Materialized view of Table

In [16]:
hremployeeDF.createOrReplaceTempView('hremployee')

### Q1: Display shape of hremployee table
#### show number of rows and number of columns

In [43]:
#spark.sql("""
#    SELECT * FROM (
#        SELECT COUNT(*) AS rows FROM hremployee
#        SELECT COUNT(*) FROM INFORMATION_SCHEMA.COLUMNS WHERE type='table'
#    );
#""")

rows = spark.sql("""
    SELECT COUNT(*) AS rows FROM hremployee
""").show()

num_of_cols = len(hremployeeDF.columns)


print(rows)
print(num_of_cols)

+----+
|rows|
+----+
|1469|
+----+

None
23

In [38]:
spark.sql(f"""
    SELECT COUNT(*) AS row_count, {num_of_cols} AS column_count FROM hremployee
""").show()

+---------+------------+
|row_count|column_count|
+---------+------------+
|     1469|          23|
+---------+------------+

SELECT COUNT(*) FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = '???'

In [47]:
spark.sql('DESCRIBE hremployee').show(100)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          EmployeeID|      int|   null|
|          Department|   string|   null|
|             JobRole|   string|   null|
|           Attrition|   string|   null|
|              Gender|   string|   null|
|                 Age|      int|   null|
|       MaritalStatus|   string|   null|
|           Education|   string|   null|
|      EducationField|   string|   null|
|      BusinessTravel|   string|   null|
|      JobInvolvement|   string|   null|
|            JobLevel|      int|   null|
|     JobSatisfaction|   string|   null|
|          Hourlyrate|      int|   null|
|              Income|      int|   null|
|          Salaryhike|      int|   null|
|            OverTime|   string|   null|
|              Workex|      int|   null|
|YearsSinceLastPro...|      int|   null|
|     EmpSatisfaction|   string|   null|
|TrainingTimesLast...|      int|   null|
|     WorkLifeBalance|   string|   null|
|  Performance_Rating|   string|   null|
+--------------------+---------+-------+

### Q2: Write a query to show first 3 employee from each jobrole to join the company

In [72]:
spark.sql("""
    SELECT EmployeeID, JobRole, ranks AS Seniority_in_Department
    FROM (
        SELECT EmployeeID, JobRole,
        DENSE_RANK() OVER(PARTITION BY JobRole ORDER BY EmployeeID) as ranks
        FROM hremployee
    ) AS _
    WHERE ranks<=3
""").show(100)

+----------+--------------------+-----------------------+
|EmployeeID|             JobRole|Seniority_in_Department|
+----------+--------------------+-----------------------+
|         1|     Sales Executive|                      1|
|        28|     Sales Executive|                      2|
|        40|     Sales Executive|                      3|
|         9|Manufacturing Dir...|                      1|
|        16|Manufacturing Dir...|                      2|
|        21|Manufacturing Dir...|                      3|
|         3|Laboratory Techni...|                      1|
|         5|Laboratory Techni...|                      2|
|         6|Laboratory Techni...|                      3|
|        22|Sales Representative|                      1|
|        34|Sales Representative|                      2|
|        37|Sales Representative|                      3|
|        10|Healthcare Repres...|                      1|
|        29|Healthcare Repres...|                      2|
|        32|Healthcare Repres...|                      3|
|         2|  Research Scientist|                      1|
|         4|  Research Scientist|                      2|
|        13|  Research Scientist|                      3|
|        19|             Manager|                      1|
|        26|             Manager|                      2|
|        30|             Manager|                      3|
|        23|   Research Director|                      1|
|        46|   Research Director|                      2|
|        56|   Research Director|                      3|
|        80|     Human Resources|                      1|
|       101|     Human Resources|                      2|
|       135|     Human Resources|                      3|
+----------+--------------------+-----------------------+

### Q3: Write a query to show top3 employees from each job role earning highest salary

In [78]:
spark.sql("""
    SELECT *
    FROM (
        SELECT EmployeeID, JobRole, Income,
        DENSE_RANK() OVER(PARTITION BY JobRole ORDER BY Income DESC) as ranks
        FROM hremployee
    ) AS _
    WHERE ranks<=3
""").show(30)

+----------+--------------------+------+-----+
|EmployeeID|             JobRole|Income|ranks|
+----------+--------------------+------+-----+
|        99|     Sales Executive| 13872|    1|
|       545|     Sales Executive| 13770|    2|
|       839|     Sales Executive| 13758|    3|
|       722|Manufacturing Dir...| 13973|    1|
|       628|Manufacturing Dir...| 13826|    2|
|       744|Manufacturing Dir...| 13726|    3|
|       678|Laboratory Techni...|  7403|    1|
|       817|Laboratory Techni...|  6782|    2|
|       945|Laboratory Techni...|  6674|    3|
|       565|Sales Representative|  6632|    1|
|      1308|Sales Representative|  5405|    2|
|      1220|Sales Representative|  4502|    3|
|      1181|Healthcare Repres...| 13966|    1|
|       317|Healthcare Repres...| 13964|    2|
|       190|Healthcare Repres...| 13734|    3|
|        68|  Research Scientist|  9724|    1|
|      1315|  Research Scientist|  6962|    2|
|      1305|  Research Scientist|  6854|    3|
|       191|             Manager| 19999|    1|
|       852|             Manager| 19943|    2|
|       166|             Manager| 19926|    3|
|       747|   Research Director| 19973|    1|
|       899|   Research Director| 19740|    2|
|      1010|   Research Director| 19701|    3|
|       511|     Human Resources| 10725|    1|
|       790|     Human Resources| 10482|    2|
|       441|     Human Resources|  9950|    3|
+----------+--------------------+------+-----+

### Q4: Show top 3 highest package from overall Job role

In [85]:
spark.sql("""
    SELECT EmployeeID, JobRole, Income
    FROM hremployee
    ORDER BY Income DESC
""").show(3)

+----------+-----------------+------+
|EmployeeID|          JobRole|Income|
+----------+-----------------+------+
|       191|          Manager| 19999|
|       747|Research Director| 19973|
|       852|          Manager| 19943|
+----------+-----------------+------+
only showing top 3 rows

### Q5: Write a Spark SQL query to sho employees in ascending order wrt employee income compared to previous income for each job role

In [104]:
spark.sql("""
    SELECT EmployeeID, JobRole, Income, (Income-lagged_income) AS diff
    FROM (
        SELECT EmployeeID, JobRole, Income,
        LAG(Income, 1) OVER(PARTITION BY JobRole ORDER BY JobRole) as lagged_income
        FROM hremployee
        WHERE Income IS NOT NULL
    ) AS _
    ORDER BY JobRole,diff
""").show(2500)

+----------+--------------------+------+-----+
|EmployeeID|             JobRole|Income| diff|
+----------+--------------------+------+-----+
|        10|Healthcare Repres...|  5237| null|
|       285|Healthcare Repres...|  4741|-8755|
|      1183|Healthcare Repres...|  6842|-7124|
|      1157|Healthcare Repres...|  4148|-7097|
|       205|Healthcare Repres...|  6673|-7061|
|       677|Healthcare Repres...|  4014|-6538|
|       397|Healthcare Repres...|  4522|-6443|
|       833|Healthcare Repres...|  5731|-6438|
|      1065|Healthcare Repres...|  4035|-6431|
|       745|Healthcare Repres...|  4777|-6222|
|       736|Healthcare Repres...|  4240|-6148|
|      1098|Healthcare Repres...|  4069|-6055|
|        89|Healthcare Repres...|  4152|-5944|
|       489|Healthcare Repres...|  4089|-5735|
|       929|Healthcare Repres...|  7978|-5599|
|       105|Healthcare Repres...|  5163|-5510|
|       267|Healthcare Repres...|  5582|-5356|
|      1231|Healthcare Repres...|  5562|-5186|
|       555|Healthcare Repres...|  6811|-4292|
|      1045|Healthcare Repres...|  6651|-4200|
|       527|Healthcare Repres...|  4553|-4068|
|       334|Healthcare Repres...|  9985|-3979|
|       373|Healthcare Repres...|  6540|-3956|
|       309|Healthcare Repres...|  5660|-3953|
|      1131|Healthcare Repres...|  5063|-3790|
|        32|Healthcare Repres...|  6465|-3783|
|      1425|Healthcare Repres...|  4878|-3755|
|      1008|Healthcare Repres...|  7553|-3367|
|       357|Healthcare Repres...|  6781|-3204|
|       791|Healthcare Repres...|  7119|-3203|
|       460|Healthcare Repres...|  6811|-3013|
|      1214|Healthcare Repres...|  7879|-3004|
|      1407|Healthcare Repres...|  4617|-2893|
|        94|Healthcare Repres...| 10673|-2830|
|      1287|Healthcare Repres...|  5538|-2783|
|      1299|Healthcare Repres...|  6513|-2413|
|       768|Healthcare Repres...|  4107|-2278|
|       979|Healthcare Repres...|  6377|-2123|
|      1304|Healthcare Repres...|  4448|-2065|
|       209|Healthcare Repres...|  4876|-1797|
|       558|Healthcare Repres...|  5093|-1718|
|       268|Healthcare Repres...|  4000|-1582|
|      1199|Healthcare Repres...|  5347|-1495|
|       550|Healthcare Repres...|  6142|-1483|
|       716|Healthcare Repres...|  5488|-1461|
|      1352|Healthcare Repres...|  5033|-1351|
|      1123|Healthcare Repres...|  6142|-1299|
|      1259|Healthcare Repres...|  5294|-1000|
|       943|Healthcare Repres...|  7094| -884|
|       164|Healthcare Repres...|  9439| -873|
|       573|Healthcare Repres...|  4335| -758|
|       472|Healthcare Repres...|  9824| -703|
|      1398|Healthcare Repres...|  5968| -699|
|      1456|Healthcare Repres...|  5689| -617|
|       848|Healthcare Repres...|  5343| -388|
|       651|Healthcare Repres...|  5562| -371|
|       618|Healthcare Repres...|  5933| -355|
|       904|Healthcare Repres...|  6623| -189|
|       583|Healthcare Repres...|  4244|  -91|
|       303|Healthcare Repres...|  5661|  -84|
|       361|Healthcare Repres...|  6755|  -26|
|      1387|Healthcare Repres...|  5373|  -26|
|       897|Healthcare Repres...|  6812|  -21|
|       414|Healthcare Repres...|  4523|    1|
|       785|Healthcare Repres...|  8823|  101|
|        65|Healthcare Repres...| 10096|  212|
|       984|Healthcare Repres...|  6687|  310|
|      1362|Healthcare Repres...|  5399|  366|
|      1093|Healthcare Repres...| 10124|  409|
|      1261|Healthcare Repres...|  5811|  517|
|       795|Healthcare Repres...|  7756|  637|
|      1250|Healthcare Repres...|  6294|  732|
|       525|Healthcare Repres...|  8621|  896|
|       288|Healthcare Repres...|  5745| 1004|
|       665|Healthcare Repres...|  6586| 1024|
|       695|Healthcare Repres...|  6949| 1094|
|      1090|Healthcare Repres...|  9715| 1109|
|      1388|Healthcare Repres...|  6667| 1294|
|      1294|Healthcare Repres...|  6870| 1332|
|       959|Healthcare Repres...|  8500| 1406|
|      1441|Healthcare Repres...|  6306| 1428|
|       896|Healthcare Repres...|  6833| 1490|
|       786|Healthcare Repres...| 10322| 1499|
|      1399|Healthcare Repres...|  7510| 1542|
|       252|Healthcare Repres...| 10938| 1542|
|       746|Healthcare Repres...|  6385| 1608|
|      1203|Healthcare Repres...|  7005| 1658|
|       814|Healthcare Repres...| 12169| 1724|
|       691|Healthcare Repres...|  5855| 1841|
|      1324|Healthcare Repres...|  6384| 1936|
|       606|Healthcare Repres...|  6288| 2044|
|      1298|Healthcare Repres...|  8926| 2056|
|       440|Healthcare Repres...|  9824| 2192|
|      1081|Healthcare Repres...|  8606| 2218|
|       111|Healthcare Repres...|  7484| 2321|
|      1074|Healthcare Repres...|  6388| 2353|
|      1278|Healthcare Repres...|  8321| 2510|
|       807|Healthcare Repres...| 10445| 2689|
|      1125|Healthcare Repres...|  8853| 2711|
|       127|Healthcare Repres...| 10312| 2828|
|      1221|Healthcare Repres...| 10748| 2869|
|       530|Healthcare Repres...|  7625| 3072|
|       439|Healthcare Repres...|  7632| 3109|
|      1035|Healthcare Repres...| 10851| 3298|
|      1099|Healthcare Repres...|  7441| 3372|
|        54|Healthcare Repres...|  9884| 3419|
|       510|Healthcare Repres...|  7725| 3636|
|       466|Healthcare Repres...| 10527| 3716|
|       368|Healthcare Repres...| 10496| 3741|
|      1055|Healthcare Repres...| 10466| 3815|
|      1173|Healthcare Repres...|  8008| 3860|
|      1209|Healthcare Repres...| 10883| 3878|
|       305|Healthcare Repres...|  9613| 3952|
|       675|Healthcare Repres...| 10552| 3966|
|      1414|Healthcare Repres...|  8633| 4016|
|       993|Healthcare Repres...| 10920| 4233|
|       190|Healthcare Repres...| 13734| 4295|
|      1466|Healthcare Repres...|  9991| 4302|
|       376|Healthcare Repres...| 10965| 4425|
|       210|Healthcare Repres...|  9396| 4520|
|       781|Healthcare Repres...|  8722| 4615|
|       730|Healthcare Repres...| 10388| 4900|
|       553|Healthcare Repres...| 11103| 4961|
|        29|Healthcare Repres...| 10248| 5011|
|      1181|Healthcare Repres...| 13966| 5958|
|      1138|Healthcare Repres...| 11245| 6182|
|       737|Healthcare Repres...| 10999| 6759|
|       915|Healthcare Repres...| 13577| 6954|
|       317|Healthcare Repres...| 13964| 8304|
|        91|Healthcare Repres...| 13503| 9351|
|       269|Healthcare Repres...| 13496| 9496|
|        80|     Human Resources|  5021| null|
|       827|     Human Resources|  2844|-7638|
|      1245|     Human Resources|  2145|-7611|
|       454|     Human Resources|  2741|-7209|
|      1036|     Human Resources|  2109|-5879|
|       552|     Human Resources|  6389|-4336|
|       600|     Human Resources|  2143|-4246|
|       233|     Human Resources|  2267|-4080|
|       351|     Human Resources|  2696|-3714|
|       101|     Human Resources|  2073|-2948|
|       656|     Human Resources|  2277|-2927|
|       634|     Human Resources|  2342|-2594|
|      1200|     Human Resources|  3195|-2548|
|       924|     Human Resources|  4490|-1782|
|      1222|     Human Resources|  1555|-1640|
|      1289|     Human Resources|  2592|-1479|
|       944|     Human Resources|  3423|-1067|
|      1379|     Human Resources|  2863|-1023|
|      1411|     Human Resources|  2187| -804|
|       864|     Human Resources|  3600| -723|
|      1064|     Human Resources|  2064| -678|
|      1313|     Human Resources|  2335| -621|
|      1297|     Human Resources|  2148| -444|
|      1165|     Human Resources|  5743| -334|
|       423|     Human Resources|  2564| -132|
|       760|     Human Resources|  2177| -100|
|      1246|     Human Resources|  2180|   35|
|      1329|     Human Resources|  2804|   98|
|      1400|     Human Resources|  2991|  128|
|      1323|     Human Resources|  2706|  371|
|      1280|     Human Resources|  4071|  532|
|      1040|     Human Resources|  2742|  633|
|      1312|     Human Resources|  2956|  808|
|       135|     Human Resources|  2942|  869|
|      1347|     Human Resources|  3886| 1082|
|       630|     Human Resources|  4936| 1199|
|      1269|     Human Resources|  3539| 1359|
|       836|     Human Resources|  4323| 1479|
|       614|     Human Resources|  3737| 1594|
|       879|     Human Resources|  6272| 2672|
|       655|     Human Resources|  5204| 2862|
|       494|     Human Resources|  5985| 3244|
|      1243|     Human Resources|  9756| 3326|
|       140|     Human Resources|  6347| 3405|
|      1107|     Human Resources|  6077| 4013|
|       311|     Human Resources|  6410| 4143|
|      1006|     Human Resources|  7988| 4565|
|       511|     Human Resources| 10725| 4740|
|      1228|     Human Resources|  6430| 4875|
|      1450|     Human Resources|  8837| 6650|
|       441|     Human Resources|  9950| 7386|
|       790|     Human Resources| 10482| 8305|
|         3|Laboratory Techni...|  2090| null|
|       683|Laboratory Techni...|  2332|-5071|
|       954|Laboratory Techni...|  2362|-4312|
|      1256|Laboratory Techni...|  2468|-4004|
|        62|Laboratory Techni...|  2406|-3509|
|       778|Laboratory Techni...|  1416|-3418|
|       114|Laboratory Techni...|  2774|-3300|
|       337|Laboratory Techni...|  2119|-3138|
|        88|Laboratory Techni...|  2075|-3051|
|       506|Laboratory Techni...|  2659|-3020|
|      1097|Laboratory Techni...|  2296|-2911|
|       316|Laboratory Techni...|  2455|-2755|
|       231|Laboratory Techni...|  3212|-2702|
|      1302|Laboratory Techni...|  2705|-2641|
|      1412|Laboratory Techni...|  3748|-2575|
|      1147|Laboratory Techni...|  3211|-2558|
|       825|Laboratory Techni...|  4272|-2510|
|      1001|Laboratory Techni...|  2950|-2479|
|       657|Laboratory Techni...|  2795|-2436|
|       794|Laboratory Techni...|  2207|-2414|
|       829|Laboratory Techni...|  1904|-2368|
|       417|Laboratory Techni...|  1702|-2329|
|      1023|Laboratory Techni...|  3500|-2310|
|       922|Laboratory Techni...|  2154|-2290|
|       632|Laboratory Techni...|  2818|-2276|
|       287|Laboratory Techni...|  3161|-2254|
|       586|Laboratory Techni...|  1601|-2232|
|       688|Laboratory Techni...|  2519|-2202|
|      1134|Laboratory Techni...|  2690|-2186|
|      1018|Laboratory Techni...|  2099|-2185|
|       714|Laboratory Techni...|  2270|-2177|
|       832|Laboratory Techni...|  2610|-2156|
|      1130|Laboratory Techni...|  3407|-2155|
|      1343|Laboratory Techni...|  2062|-2135|
|       849|Laboratory Techni...|  2376|-2044|
|       178|Laboratory Techni...|  1102|-1970|
|      1415|Laboratory Techni...|  2008|-1969|
|      1210|Laboratory Techni...|  2028|-1958|
|        52|Laboratory Techni...|  3441|-1940|
|      1205|Laboratory Techni...|  1393|-1913|
|        50|Laboratory Techni...|  2269|-1742|
|      1321|Laboratory Techni...|  2105|-1707|
|       204|Laboratory Techni...|  2741|-1684|
|       352|Laboratory Techni...|  2370|-1613|
|      1072|Laboratory Techni...|  3180|-1609|
|       743|Laboratory Techni...|  2380|-1537|
|        14|Laboratory Techni...|  2661|-1532|
|       241|Laboratory Techni...|  2232|-1498|
|       147|Laboratory Techni...|  2720|-1480|
|      1465|Laboratory Techni...|  2571|-1454|
|      1361|Laboratory Techni...|  2544|-1434|
|       464|Laboratory Techni...|  2340|-1415|
|       516|Laboratory Techni...|  1281|-1378|
|       733|Laboratory Techni...|  2422|-1321|
|       442|Laboratory Techni...|  2093|-1315|
|       798|Laboratory Techni...|  2377|-1314|
|      1273|Laboratory Techni...|  2398|-1304|
|       968|Laboratory Techni...|  2387|-1282|
|      1068|Laboratory Techni...|  2561|-1277|
|      1402|Laboratory Techni...|  1129|-1238|
|       551|Laboratory Techni...|  2500|-1208|
|       396|Laboratory Techni...|  2258|-1190|
|       843|Laboratory Techni...|  2515|-1082|
|       931|Laboratory Techni...|  2838|-1029|
|      1155|Laboratory Techni...|  3069| -997|
|       872|Laboratory Techni...|  2210| -986|
|       297|Laboratory Techni...|  1420| -953|
|       572|Laboratory Techni...|  4364| -945|
|      1082|Laboratory Techni...|  2272| -908|
|      1171|Laboratory Techni...|  2166| -903|
|       590|Laboratory Techni...|  2319| -830|
|       289|Laboratory Techni...|  2373| -788|
|       387|Laboratory Techni...|  3034| -782|
|       235|Laboratory Techni...|  2436| -776|
|       973|Laboratory Techni...|  1611| -776|
|       150|Laboratory Techni...|  1483| -755|
|       881|Laboratory Techni...|  2743| -748|
|       261|Laboratory Techni...|  2794| -685|
|      1202|Laboratory Techni...|  3306| -683|
|      1224|Laboratory Techni...|  2305| -669|
|        15|Laboratory Techni...|  2028| -633|
|       263|Laboratory Techni...|  2176| -618|
|      1238|Laboratory Techni...|  3295| -612|
|       208|Laboratory Techni...|  2153| -588|
|      1043|Laboratory Techni...|  3162| -560|
|       582|Laboratory Techni...|  3833| -531|
|       406|Laboratory Techni...|  4031| -527|
|       638|Laboratory Techni...|  2314| -504|
|      1060|Laboratory Techni...|  3172| -501|
|      1390|Laboratory Techni...|  2367| -500|
|       149|Laboratory Techni...|  2238| -482|
|      1266|Laboratory Techni...|  2289| -477|
|       312|Laboratory Techni...|  5210| -464|
|       389|Laboratory Techni...|  2576| -458|
|       432|Laboratory Techni...|  3780| -450|
|        31|Laboratory Techni...|  2496| -439|
|      1427|Laboratory Techni...|  2406| -431|
|      1004|Laboratory Techni...|  3229| -400|
|         6|Laboratory Techni...|  3068| -400|
|         7|Laboratory Techni...|  2670| -398|
|       672|Laboratory Techni...|  2008| -396|
|      1110|Laboratory Techni...|  2074| -376|
|       670|Laboratory Techni...|  2404| -374|
|       437|Laboratory Techni...|  3408| -372|
|       841|Laboratory Techni...|  2258| -352|
|      1033|Laboratory Techni...|  3646| -329|
|      1317|Laboratory Techni...|  2379| -326|
|       129|Laboratory Techni...|  2523| -312|
|        33|Laboratory Techni...|  2206| -290|
|      1136|Laboratory Techni...|  2408| -282|
|       270|Laboratory Techni...|  3210| -275|
|        11|Laboratory Techni...|  2426| -267|
|       658|Laboratory Techni...|  2532| -263|
|       173|Laboratory Techni...|  2088| -260|
|       942|Laboratory Techni...|  4627| -256|
|        41|Laboratory Techni...|  1951| -255|
|      1083|Laboratory Techni...|  2018| -254|
|       477|Laboratory Techni...|  2127| -213|
|      1028|Laboratory Techni...|  3294| -206|
|       902|Laboratory Techni...|  2559| -184|
|       362|Laboratory Techni...|  2213| -157|
|      1180|Laboratory Techni...|  2013| -153|
|       661|Laboratory Techni...|  2380| -152|
|      1193|Laboratory Techni...|  2440| -147|
|       450|Laboratory Techni...|  3755| -139|
|       857|Laboratory Techni...|  3033|  -98|
|      1444|Laboratory Techni...|  2339|  -67|
|       110|Laboratory Techni...|  2871|  -55|
|       557|Laboratory Techni...|  2450|  -50|
|        43|Laboratory Techni...|  2293|  -48|
|       400|Laboratory Techni...|  2218|  -40|
|       100|Laboratory Techni...|  2042|  -33|
|         8|Laboratory Techni...|  2693|   23|
|       735|Laboratory Techni...|  2451|   29|
|      1386|Laboratory Techni...|  2867|   57|
|       119|Laboratory Techni...|  2835|   61|
|       916|Laboratory Techni...|  2625|   66|
|       980|Laboratory Techni...|  5429|   66|
|      1037|Laboratory Techni...|  3722|   76|
|       726|Laboratory Techni...|  3743|  110|
|      1108|Laboratory Techni...|  2450|  154|
|       869|Laboratory Techni...|  3196|  163|
|      1426|Laboratory Techni...|  2837|  177|
|       801|Laboratory Techni...|  2596|  219|
|      1341|Laboratory Techni...|  4197|  229|
|      1413|Laboratory Techni...|  3977|  229|
|      1383|Laboratory Techni...|  2810|  266|
|       237|Laboratory Techni...|  2707|  271|
|      1263|Laboratory Techni...|  2766|  298|
|      1005|Laboratory Techni...|  3578|  349|
|       257|Laboratory Techni...|  2593|  361|
|       753|Laboratory Techni...|  2743|  363|
|       374|Laboratory Techni...|  3816|  364|
|      1095|Laboratory Techni...|  5207|  366|
|        42|Laboratory Techni...|  2341|  390|
|       420|Laboratory Techni...|  2097|  395|
|       668|Laboratory Techni...|  2778|  398|
|      1230|Laboratory Techni...|  3907|  430|
|       690|Laboratory Techni...|  2973|  454|
|       588|Laboratory Techni...|  3149|  455|
|       427|Laboratory Techni...|  2564|  467|
|       544|Laboratory Techni...|  3708|  487|
|       933|Laboratory Techni...|  3339|  501|
|      1051|Laboratory Techni...|  3673|  511|
|      1354|Laboratory Techni...|  2587|  525|
|       874|Laboratory Techni...|  2741|  531|
|       718|Laboratory Techni...|  2811|  541|
|        58|Laboratory Techni...|  4014|  573|
|      1192|Laboratory Techni...|  2587|  574|
|        75|Laboratory Techni...|  3038|  632|
|      1422|Laboratory Techni...|  2660|  652|
|      1066|Laboratory Techni...|  3838|  666|
|       787|Laboratory Techni...|  4621|  666|
|      1002|Laboratory Techni...|  3629|  679|
|      1030|Laboratory Techni...|  3975|  681|
|      1007|Laboratory Techni...|  4284|  706|
|       197|Laboratory Techni...|  4425|  735|
|       875|Laboratory Techni...|  3491|  750|
|       853|Laboratory Techni...|  3131|  755|
|       480|Laboratory Techni...|  2886|  759|
|       484|Laboratory Techni...|  3681|  795|
|       762|Laboratory Techni...|  4834|  809|
|       719|Laboratory Techni...|  3633|  822|
|      1128|Laboratory Techni...|  5562|  839|
|       641|Laboratory Techni...|  3162|  848|
|      1149|Laboratory Techni...|  4066|  855|
|       154|Laboratory Techni...|  2348|  865|
|       392|Laboratory Techni...|  3448|  872|
|       103|Laboratory Techni...|  2926|  884|
|       260|Laboratory Techni...|  3479|  886|
|        18|Laboratory Techni...|  2935|  907|
|      1219|Laboratory Techni...|  2974|  946|
|      1286|Laboratory Techni...|  3377|  979|
|       174|Laboratory Techni...|  3072|  984|
|       240|Laboratory Techni...|  3730| 1023|
|       587|Laboratory Techni...|  2694| 1093|
|      1227|Laboratory Techni...|  3477| 1172|
|      1206|Laboratory Techni...|  2570| 1177|
|       180|Laboratory Techni...|  2288| 1186|
|       365|Laboratory Techni...|  3452| 1239|
|       757|Laboratory Techni...|  4025| 1282|
|       966|Laboratory Techni...|  3669| 1307|
|       265|Laboratory Techni...|  3485| 1309|
|       842|Laboratory Techni...|  3597| 1339|
|         5|Laboratory Techni...|  3468| 1378|
|      1360|Laboratory Techni...|  3978| 1391|
|       184|Laboratory Techni...|  3690| 1402|
|      1272|Laboratory Techni...|  3702| 1413|
|      1208|Laboratory Techni...|  3986| 1416|
|      1318|Laboratory Techni...|  3812| 1433|
|       741|Laboratory Techni...|  3917| 1466|
|      1133|Laboratory Techni...|  4876| 1469|
|       697|Laboratory Techni...|  4447| 1474|
|       797|Laboratory Techni...|  3691| 1484|
|      1408|Laboratory Techni...|  2647| 1518|
|       940|Laboratory Techni...|  4883| 1544|
|      1201|Laboratory Techni...|  3989| 1549|
|       431|Laboratory Techni...|  4230| 1666|
|       141|Laboratory Techni...|  4200| 1677|
|      1459|Laboratory Techni...|  4025| 1686|
|       930|Laboratory Techni...|  3867| 1713|
|        45|Laboratory Techni...|  4011| 1718|
|        12|Laboratory Techni...|  4193| 1767|
|       444|Laboratory Techni...|  3894| 1801|
|       921|Laboratory Techni...|  4444| 1819|
|      1469|Laboratory Techni...|  4404| 1833|
|      1325|Laboratory Techni...|  3968| 1863|
|       338|Laboratory Techni...|  3983| 1864|
|        59|Laboratory Techni...|  5915| 1901|
|       844|Laboratory Techni...|  4420| 1905|
|       524|Laboratory Techni...|  3221| 1940|
|      1290|Laboratory Techni...|  5346| 1969|
|       306|Laboratory Techni...|  5674| 1986|
|       492|Laboratory Techni...|  5679| 1998|
|       945|Laboratory Techni...|  6674| 2047|
|       644|Laboratory Techni...|  5231| 2069|
|        81|Laboratory Techni...|  5126| 2088|
|       284|Laboratory Techni...|  5415| 2205|
|      1071|Laboratory Techni...|  4789| 2228|

In [108]:
# a variation of above query, not same but for comparison
spark.sql("""
    SELECT *, (Income-prev_income) AS diff
    FROM (
        SELECT EmployeeID, JobRole, Income,
        LAG(Income, 1) OVER(PARTITION BY JobRole ORDER BY JobRole) as prev_income
        FROM hremployee
        WHERE Income IS NOT NULL
    ) AS _
""").show()

+----------+---------------+------+-----------+-----+
|EmployeeID|        JobRole|Income|prev_income| diff|
+----------+---------------+------+-----------+-----+
|         1|Sales Executive|  5993|       null| null|
|        28|Sales Executive|  6825|       5993|  832|
|        40|Sales Executive|  5376|       6825|-1449|
|        44|Sales Executive|  8726|       5376| 3350|
|        47|Sales Executive|  4568|       8726|-4158|
|        49|Sales Executive|  5772|       4568| 1204|
|        53|Sales Executive|  5454|       5772| -318|
|        55|Sales Executive|  4157|       5454|-1297|
|        57|Sales Executive|  9069|       4157| 4912|
|        64|Sales Executive|  7637|       9069|-1432|
|        71|Sales Executive|  5473|       7637|-2164|
|        77|Sales Executive|  4312|       5473|-1161|
|        83|Sales Executive| 10239|       4312| 5927|
|        90|Sales Executive|  9619|      10239| -620|
|        92|Sales Executive|  5441|       9619|-4178|
|        93|Sales Executive|  5209|       5441| -232|
|        95|Sales Executive|  5010|       5209| -199|
|        97|Sales Executive|  4999|       5010|  -11|
|        98|Sales Executive|  4221|       4999| -778|
|        99|Sales Executive| 13872|       4221| 9651|
+----------+---------------+------+-----------+-----+
only showing top 20 rows

### Q6:

In [112]:
spark.sql("""
    SELECT employeeID, department, JobRole, age, gender, income,
    LEAD(Income, 2, 0) OVER (ORDER BY EmployeeID) as next_income
    FROM hremployee
""").show()

+----------+--------------------+--------------------+---+------+------+-----------+
|employeeID|          department|             JobRole|age|gender|income|next_income|
+----------+--------------------+--------------------+---+------+------+-----------+
|         1|               Sales|     Sales Executive| 41|Female|  5993|       2090|
|         2|Research & Develo...|  Research Scientist| 49|  Male|  5130|       2909|
|         3|Research & Develo...|Laboratory Techni...| 37|  Male|  2090|       3468|
|         4|Research & Develo...|  Research Scientist| 33|Female|  2909|       3068|
|         5|Research & Develo...|Laboratory Techni...| 27|  Male|  3468|       2670|
|         6|Research & Develo...|Laboratory Techni...| 32|  Male|  3068|       2693|
|         7|Research & Develo...|Laboratory Techni...| 59|Female|  2670|       9526|
|         8|Research & Develo...|Laboratory Techni...| 30|  Male|  2693|       5237|
|         9|Research & Develo...|Manufacturing Dir...| 38|  Male|  9526|       2426|
|        10|Research & Develo...|Healthcare Repres...| 36|  Male|  5237|       4193|
|        11|Research & Develo...|Laboratory Techni...| 35|  Male|  2426|       2911|
|        12|Research & Develo...|Laboratory Techni...| 29|Female|  4193|       2661|
|        13|Research & Develo...|  Research Scientist| 31|  Male|  2911|       2028|
|        14|Research & Develo...|Laboratory Techni...| 34|  Male|  2661|       9980|
|        15|Research & Develo...|Laboratory Techni...| 28|  Male|  2028|       3298|
|        16|Research & Develo...|Manufacturing Dir...| 29|Female|  9980|       2935|
|        17|Research & Develo...|  Research Scientist| 32|  Male|  3298|      15427|
|        18|Research & Develo...|Laboratory Techni...| 22|  Male|  2935|       3944|
|        19|               Sales|             Manager| 53|Female| 15427|       4011|
|        20|Research & Develo...|  Research Scientist| 38|  Male|  3944|       3407|
+----------+--------------------+--------------------+---+------+------+-----------+
only showing top 20 rows

### Q7: NTILE() - dividing records into percentiles

In [114]:
spark.sql("""
    SELECT employeeID, department, JobRole, age, gender, income,
    NTILE(4) OVER (ORDER BY INCOME) as salary_quartiles
    FROM hremployee
""").show()

+----------+--------------------+--------------------+---+------+------+----------------+
|employeeID|          department|             JobRole|age|gender|income|salary_quartiles|
+----------+--------------------+--------------------+---+------+------+----------------+
|       514|Research & Develo...|  Research Scientist| 20|  Male|  1009|               1|
|       728|Research & Develo...|  Research Scientist| 18|  Male|  1051|               1|
|       765|               Sales|Sales Representative| 28|  Male|  1052|               1|
|      1338|               Sales|Sales Representative| 30|  Male|  1081|               1|
|      1365|               Sales|Sales Representative| 29|  Male|  1091|               1|
|       178|Research & Develo...|Laboratory Techni...| 19|  Male|  1102|               1|
|       912|               Sales|Sales Representative| 25|  Male|  1118|               1|
|      1402|Research & Develo...|Laboratory Techni...| 31|Female|  1129|               1|
|       302|               Sales|Sales Representative| 18|Female|  1200|               1|
|       911|Research & Develo...|  Research Scientist| 23|  Male|  1223|               1|
|        24|Research & Develo...|  Research Scientist| 21|  Male|  1232|               1|
|      1017|Research & Develo...|  Research Scientist| 31|Female|  1261|               1|
|      1053|Research & Develo...|  Research Scientist| 30|  Male|  1274|               1|
|       516|Research & Develo...|Laboratory Techni...| 35|  Male|  1281|               1|
|      1013|               Sales|Sales Representative| 31|Female|  1359|               1|
|      1205|Research & Develo...|Laboratory Techni...| 32|  Male|  1393|               1|
|       778|Research & Develo...|Laboratory Techni...| 21|Female|  1416|               1|
|       297|Research & Develo...|Laboratory Techni...| 18|  Male|  1420|               1|
|       150|Research & Develo...|Laboratory Techni...| 19|Female|  1483|               1|
|      1311|Research & Develo...|  Research Scientist| 18|Female|  1514|               1|
+----------+--------------------+--------------------+---+------+------+----------------+
only showing top 20 rows

### Q8: Find number of employees in each percentile group 0-25th, 25th-50th, 50-75, and 75to100th [order by income and partition by department] using PERCENT_RANK and create a new category using CASE-WHEN

In [146]:
spark.sql("""
    SELECT 
    CASE 
        WHEN percentile<=0.25 THEN "0.00-0.25"
        WHEN percentile<=0.50 THEN "0.25-0.50"
        WHEN percentile<=0.75 THEN "0.50-0.75"
        ELSE "0.75-1.00"
    END AS category,
    COUNT(*) AS FREQUENCY
    
    FROM (
        SELECT Income,
        PERCENT_RANK() OVER(ORDER BY Income) AS percentile
        FROM hremployee
    ) AS _
    GROUP BY category
    ORDER BY category
""").show()

+---------+---------+
| category|FREQUENCY|
+---------+---------+
|0.00-0.25|      368|
|0.25-0.50|      367|
|0.50-0.75|      367|
|0.75-1.00|      367|
+---------+---------+

## HIVE Integration with PySpark

In [147]:
spark.stop()

In [148]:

!jps

18032 Jps
27057 NodeManager
26306 NameNode
26500 DataNode
13591 SparkSubmit
26732 SecondaryNameNode
26893 ResourceManager

In [73]:
# spark integration with Hive [hadoop services must be running]
# config for hive integration: property-name "spark.sql.warehouse.dir", value "/user/hive/warehouse"

spark = (SparkSession.builder.appName('pyspark-hive-Integration')
        .config('spark.sql.warehouse.dir', '/user/hive/warehouse')
        .enableHiveSupport().getOrCreate())

In [74]:
spark

In [3]:
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [4]:
spark.sql("""
    CREATE database IF NOT EXISTS airlines
""")

DataFrame[]

In [6]:
spark.sql("""
    use airlines
""")

DataFrame[]

In [8]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [11]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS flights (
        DayofMonth int,
        DayofWeek int,
        Carrier VARCHAR(10),
        OriginAirportID int,
        DestAirportID int,
        DepDelay int,
        ArrDelay int
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    STORED AS TEXTFILE
    TBLPROPERTIES('skip.header.line.count'='1')
""")

DataFrame[]

In [12]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines|  flights|      false|
+--------+---------+-----------+

In [22]:
spark.sql("""load data local inpath '/home/hadoop/Downloads/raw_flight_data_1.csv'
overwrite into table flights""")

DataFrame[]

In [23]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS airports (
        airport_id int, 
        city VARCHAR(50), 
        state VARCHAR(50), 
        name VARCHAR(50)
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    STORED AS TEXTFILE
    TBLPROPERTIES('skip.header.line.count'='1')
""")

DataFrame[]

In [24]:
spark.sql("""load data local inpath '/home/hadoop/Downloads/airports_1.csv'
overwrite into table airports""")

DataFrame[]

In [25]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines| airports|      false|
|airlines|  flights|      false|
+--------+---------+-----------+

In [26]:
spark.sql("""
    SELECT * FROM airports
""").show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

In [27]:
spark.sql("""
    SELECT * FROM flights
""").show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayofWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

### STEP 1 - Extract

In [28]:
flights_df = spark.table('airlines.flights')
airports_df = spark.table('airlines.airports')

In [29]:
airports_df.show(2)

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
+----------+-----------+-----+--------------------+
only showing top 2 rows

In [30]:
flights_df.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayofWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 2 rows

In [31]:
### STEP 2 - Transform

In [33]:
flights_join = flights_df.join(airports_df, 
                               on=(airports_df.airport_id==flights_df.OriginAirportID), 
                               how='inner')

In [35]:
flights_join.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|DayofMonth|DayofWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|             city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|   Salt Lake City|   UT|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|         Portland|   OR|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|       Cincinnati|   OH|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|       Washington|   DC|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|          Phoenix|   AZ|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth|   TX|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|     Jacksonville|   FL|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|         New York|   NY|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|          Orlando|   FL|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
only showing top 20 rows

In [37]:
### STEP 3 - Load

In [42]:
flights_join = flights_join.repartition(4)

In [43]:
flights_join.write.parquet('file:///home/hadoop/Downloads/flights')

In [45]:
# read from parquet
flights_parquet_df = spark.read.parquet('file:///home/hadoop/Downloads/flights/')

In [46]:
# write to HDFS

flights_join.write.parquet('/flights1')

In [47]:
# partitioning data 
flights_join.write.partitionBy('Carrier').parquet('/airlines')

#### 04-09-2024

In [48]:
flights_join

DataFrame[DayofMonth: int, DayofWeek: int, Carrier: string, OriginAirportID: int, DestAirportID: int, DepDelay: int, ArrDelay: int, airport_id: int, city: string, state: string, name: string]

In [53]:
flights_join.write.bucketBy(col='state', numBuckets=50).format('csv').saveAsTable('bucketed_table')

In [54]:
flights_join.write.partitionBy('Carrier').bucketBy(col='state', numBuckets=30).format('parquet').saveAsTable('partition_bucket_table')

In [57]:
spark.sql("""
    SELECT carrier, COUNT(*)
    FROM partition_bucket_table
    GROUP BY carrier
""").show()

+-------+--------+
|carrier|count(1)|
+-------+--------+
|     UA|  122443|
|     AA|  124037|
|     EV|   46563|
|     B6|   51381|
|     DL|  134724|
|     OO|   69785|
|     F9|    9811|
|     YV|   14612|
|     US|  100668|
|     MQ|   45926|
|     HA|    4962|
|     AS|   28796|
|     FL|   28053|
|     VX|   14683|
|     WN|  216101|
|     9E|   36030|
+-------+--------+

#### Load on MySQL

In [77]:
connection_properties = {
    'user': 'root',
    'password': 'hadoop@123',
    'driver': 'com.mysql.cj.jdbc.Driver'
}

flights_join.write.jdbc(url="jdbc:mysql://localhost:3306/flights", table='airlines', mode='overwrite', properties=connection_properties)

Py4JJavaError: An error occurred while calling o1356.jdbc.
: org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:226)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec.doExecuteBroadcast(BroadcastExchangeExec.scala:146)
	at org.apache.spark.sql.execution.InputAdapter.doExecuteBroadcast(WholeStageCodegenExec.scala:387)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeBroadcast$1.apply(SparkPlan.scala:149)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeBroadcast$1.apply(SparkPlan.scala:145)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.executeBroadcast(SparkPlan.scala:145)
	at org.apache.spark.sql.execution.joins.BroadcastHashJoinExec.prepareBroadcast(BroadcastHashJoinExec.scala:117)
	at org.apache.spark.sql.execution.joins.BroadcastHashJoinExec.codegenInner(BroadcastHashJoinExec.scala:211)
	at org.apache.spark.sql.execution.joins.BroadcastHashJoinExec.doConsume(BroadcastHashJoinExec.scala:101)
	at org.apache.spark.sql.execution.CodegenSupport$class.consume(WholeStageCodegenExec.scala:189)
	at org.apache.spark.sql.execution.FilterExec.consume(basicPhysicalOperators.scala:87)
	at org.apache.spark.sql.execution.FilterExec.doConsume(basicPhysicalOperators.scala:212)
	at org.apache.spark.sql.execution.CodegenSupport$class.consume(WholeStageCodegenExec.scala:189)
	at org.apache.spark.sql.execution.InputAdapter.consume(WholeStageCodegenExec.scala:374)
	at org.apache.spark.sql.execution.InputAdapter.doProduce(WholeStageCodegenExec.scala:403)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.CodegenSupport$class.produce(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.InputAdapter.produce(WholeStageCodegenExec.scala:374)
	at org.apache.spark.sql.execution.FilterExec.doProduce(basicPhysicalOperators.scala:127)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.CodegenSupport$class.produce(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.FilterExec.produce(basicPhysicalOperators.scala:87)
	at org.apache.spark.sql.execution.joins.BroadcastHashJoinExec.doProduce(BroadcastHashJoinExec.scala:96)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport$$anonfun$produce$1.apply(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.CodegenSupport$class.produce(WholeStageCodegenExec.scala:85)
	at org.apache.spark.sql.execution.joins.BroadcastHashJoinExec.produce(BroadcastHashJoinExec.scala:40)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doCodeGen(WholeStageCodegenExec.scala:544)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:598)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.prepareShuffleDependency(ShuffleExchangeExec.scala:92)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:128)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:52)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.doExecute(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.DeserializeToObjectExec.doExecute(objects.scala:89)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:81)
	at org.apache.spark.sql.Dataset.rdd$lzycompute(Dataset.scala:3043)
	at org.apache.spark.sql.Dataset.rdd(Dataset.scala:3041)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:838)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:63)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:86)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:81)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:696)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:696)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:80)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:75)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:696)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:305)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:291)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:535)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.lang.Thread.run(Thread.java:745)

The currently active SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.lang.Thread.run(Thread.java:745)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:100)
	at org.apache.spark.SparkContext.broadcast(SparkContext.scala:1486)
	at org.apache.spark.sql.hive.HadoopTableReader.<init>(TableReader.scala:89)
	at org.apache.spark.sql.hive.execution.HiveTableScanExec.org$apache$spark$sql$hive$execution$HiveTableScanExec$$hadoopReader$lzycompute(HiveTableScanExec.scala:105)
	at org.apache.spark.sql.hive.execution.HiveTableScanExec.org$apache$spark$sql$hive$execution$HiveTableScanExec$$hadoopReader(HiveTableScanExec.scala:105)
	at org.apache.spark.sql.hive.execution.HiveTableScanExec$$anonfun$10.apply(HiveTableScanExec.scala:188)
	at org.apache.spark.sql.hive.execution.HiveTableScanExec$$anonfun$10.apply(HiveTableScanExec.scala:188)
	at org.apache.spark.util.Utils$.withDummyCallSite(Utils.scala:2470)
	at org.apache.spark.sql.hive.execution.HiveTableScanExec.doExecute(HiveTableScanExec.scala:187)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:391)
	at org.apache.spark.sql.execution.FilterExec.inputRDDs(basicPhysicalOperators.scala:123)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:627)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:136)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:160)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:157)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:252)
	at org.apache.spark.sql.execution.SparkPlan.executeCollectIterator(SparkPlan.scala:311)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec$$anonfun$relationFuture$1$$anonfun$apply$1.apply(BroadcastExchangeExec.scala:79)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec$$anonfun$relationFuture$1$$anonfun$apply$1.apply(BroadcastExchangeExec.scala:76)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withExecutionId$1.apply(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withExecutionId(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec$$anonfun$relationFuture$1.apply(BroadcastExchangeExec.scala:75)
	at org.apache.spark.sql.execution.exchange.BroadcastExchangeExec$$anonfun$relationFuture$1.apply(BroadcastExchangeExec.scala:75)
	at scala.concurrent.impl.Future$PromiseCompletingRunnable.liftedTree1$1(Future.scala:24)
	at scala.concurrent.impl.Future$PromiseCompletingRunnable.run(Future.scala:24)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [78]:
spark.stop()

In [79]:
sc.stop()

In [80]:
!jps

27057 NodeManager
26306 NameNode
26500 DataNode
18278 SparkSubmit
26732 SecondaryNameNode
26893 ResourceManager
28878 Jps